<style>

</style>

<ul id="ul">
<li>Can I get this?<br>
訳：これくださる？（これください）
</li>

<li>
Can we get the check?<br>
訳：お会計お願いします。
</li>

<li>
Are you in line?<br>
訳：並んでますか？
</li>

<li>
Can you take me to the 47st 8 Av?<br>
タクシー等で、47st 8 Avに連れて行ってくれますか？
</li>

<li>
relatively<br>
比較的
</li>

<li>
That would be good!<br>
よさげ！
</li>

<li>
That woulf be worth<br>
悪そうだな...
</li>

<li>
I'm tired beacause too much work to handle.<br>
疲れたよー。たくさん仕事があって扱いきれなくてさ
</li>

<li>
as much as I can<br>
自分の出来るように
</li>

<li>
It's gonna be rain.<br>
雨降りそう
</li>

<li>
Thank you, I apreciate it.<br>
</li>

<li>
I usually drink a cup off cofee.<br>
I drank a glass off water.
</li>

<li>
I'm here to meke a buliding card.<br>
Is it right place?<br>
カード作りに来たのですが、ここでいいですか？
</li>

<li>
made it!<br>
やったぜ！
</li>
</ul>