<!--start: Container -->
<div class="container">
    <!--start: Wrapper-->
    <div id="wrapper">
        <legend>Unexpected error occured</legend>
        Please go to the Home.
    </div>
    <!--end: Container-->

</div>
<!-- end: Wrapper  -->          