<!--start: Container -->
<div class="container">
            
    <!--start: Wrapper-->
    <div id="wrapper">

        <form class="form-horizontal">  
            <fieldset>  
                <legend>New Post</legend>
                <div class="control-group">  
                    <label class="control-label" for="textarea">English Sentence</label>  
                    <div class="controls">  
                        <textarea name="EnglishSentence" class="input-xlarge" id="textarea" rows="3" placeholder="Is this a pen ?"></textarea>
                    </div>  
                </div>   

                <div class="control-group">  
                    <label class="control-label" for="textarea">Japanese Sentence</label>  
                    <div class="controls">  
                        <textarea name="JapaneseSentence" class="input-xlarge" id="textarea" rows="3" placeholder="これはペンですか？"></textarea>
                    </div>  
                </div>

                <div class="control-group"">
                    <label class="control-label" for="textarea">Category</label>
                    <div class="controls">
                        <select name="normalSelect"
                            id="normalSelect">
                            <% for(var i = 0; i < categories.length; i++){ %>
                                <option value="<%= categories[i].categoryId %>" ><%= categories[i].name %></option>
                            <%}%>
                        </select>
                    </div>
                </div>

                <div class="control-group">  
                    <label class="control-label" for="input01">Sound File URL</label>
                    <div class="controls"> 
                        <input name="SoundFileUrl" type="text" class="input-xlarge" id="input01" placeholder="http://miketokyo.com">
                    </div>  
                </div>  
                <div class="form-actions" style="background-color:#ccc;">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>   
            </fieldset>  
        </form>       
                
    </div>
    <!--end: Container-->

</div>
<!-- end: Wrapper  --> 