<!--start: Container -->
<div class="container">
            
    <!--start: Wrapper-->
    <div id="wrapper">

        <legend>Completed</legend>
        Your posting has saved.
                
    </div>
    <!--end: Container-->

</div>
<!-- end: Wrapper  --> 