<script src="<%=config.get('NODE_WORK_URL')%>socket.io/socket.io.js"></script>

<!--start: Container -->
<div class="container">
            
    <!--start: Wrapper-->
    <div id="wrapper">

        <legend>Search by keywords</legend>

        <form action="<%= config.get('BASE_URL')%>article/list" method="GET">
			<div class="control-group">  
	            <label class="control-label" for="textarea">input keywords</label>
	            <div class="controls">
	                <input id="keyword" name="keyword" type="text" autocomplete="off" x-webkit-speech>
	                <ul id="serarchResult">
	               </ul>
	            </div>
	        </div>
            <button type="submit" class="btn btn-primary">Go</button>
        </form>
    </div>
    <!--end: Container-->

    <script>
    (function(){
        //websocket
        var socket = io.connect('http://'+location.host, {port : <%= config.get("websocketsProxyPort")%>});

        $(document).ready(function(){
        	//documentをキャッシュする
        	var serarchResult = $("#serarchResult");
        	var val = "";
        	var keyword = $("#keyword");

        	serarchResult.css({width : keyword.width()});

        	//サーバーに送る
        	keyword.on("keyup", function(e){
        		if(this.value != "" && val !=　this.value){
        			socket.emit('search',{text:this.value, env : "<%= config.get('ENV') %>"});
        			val = this.value;
        			serarchResult.css("display", "block");
        			serarchResult.html("");
        		}
        	});

            //to empty recommend window when focus out.
            keyword.on('blur', function(){
                serarchResult.html("");
            });

        	//サーバーから受け取る
        	socket.on('search',function(data){
        		var append = "";
        		for(key in data){
        			append += "<a class='resultItem' hfre='javascript:void(0);'><li>" + data[key].japanese + "</li></a>";
        		}
        		serarchResult.html(append);
        		$(".resultItem").on("click", function(e){
        			serarchResult.css("display", "none");
    		    	keyword.val(e.currentTarget.childNodes[0].innerHTML);
    			});
        	});
        });
    })();
    </script>

</div>
<!-- end: Wrapper  --> 