<!--start: Container -->
<div class="container">
    <!--start: Wrapper-->
    <div id="wrapper">
        <legend>Scenes</legend>
        <ul id="ul">
            <% for(var i = 0; i < categories.length; i++){ %>
                <a href="<%= config.get('BASE_URL') %>article/list?category=<%= categories[i].categoryId %>" style="text-decoration:none;">
                    <li class="sq-list"><%= categories[i].name %></li>
                </a>
            <%}%>
        </ul>                
    </div>
    <!--end: Container-->

</div>
<!-- end: Wrapper  -->          